#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

button {
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    padding: 5px;
}

dialog button {
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 15px;
    padding-top: 50px;
    padding-left: 50px;
    width: 50vw;
}

#grid-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border: black solid 1px;
    padding: 10px;
}

.card-buttons {
    display: flex;
    gap: 15px;
    margin: 10px;
}